In [1]:
import json
import sqlalchemy

In [2]:
with open("postgres.json") as f:
    db_conn_dict = json.load(f)

In [3]:
cred_string = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**db_conn_dict)

In [4]:
dbeng = sqlalchemy.create_engine(cred_string)

In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [7]:
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
df.to_sql('test_table', dbeng)